.main-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.item-div {
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 800px;
	height: 600px;
	border: 1px solid black;
}

.item-title {
	text-align: center;
	margin: 0;
	padding: 0.5em;
	border-bottom: 1px solid black;
}

.item-content-div {
	flex: 1;
	padding: 1em;
	display: flex;
	flex-direction: row;
	gap: 1em;
}

.item-content-img-div {
	height: 100%;
	width: 350px;
	position: relative;
}

.item-content-img-meta-toggle-div {
	z-index: 2;
	position: absolute;
	top: 0;
	right: 0;
}

.item-content-img-meta-div h3 {
	margin: 0;
	padding: 0.5em;
	padding-bottom: 1em;
	text-align: center;
}

.item-content-img-meta-toggle-div button,
.item-content-img-qr-code-toggle-div button {
	padding: 0.5em;
	background-color: transparent;
	border: 0px;
}

.item-content-img-qr-code-toggle-div {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
}

.qrcode-div {
	width: 100%;
	height: 100px;
	padding-top: 1em;
	display: flex;
	flex-direction: column;
	gap: 0.75em;
}
.qrcode-div h4 {
	margin: 0;
	padding: 0em;
	text-align: left;
}
.qrcode-div img {
	width: 50px;
	height: 50px;
	object-fit: contain;
}

.item-content-img-div img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.item-content-description-div {
	flex: 1;
	height: 100%;
	max-height: 398px; /* Satt slik fordi det ikke funker med scrolling uten max-height ser det ut som*/
	display: flex;
	flex-direction: column;
}

.item-content-description-text-div {
	flex: 1;
	padding: 10px;
	overflow-y: auto;
	scroll-padding-top: 10px;
}

.item-content-description-text-div p {
	padding: 0;
	margin: 0;
}

.item-content-description-buttons-div {
	display: flex;
	flex-direction: row;
	gap: 1em;
	padding-top: 10px;
}

.item-content-description-buttons-div > div {
	flex: 1;
	display: flex;
	flex-direction: row;
}

.item-content-description-buttons-div > div > div {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-content-description-buttons-div button {
	font-size: 0.7em; /*Is the right size to not take up too much space*/
}

.item-content-description-buttons-div button:disabled {
	background-color: #ccc;
	color: #666;
	cursor: default;
	opacity: 0.6;
}
