.nav-buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 1em;
	margin: 0;
}

.top-nav-buttons {
	padding-top: 1em;
	border-top: 1px solid black;
}

.nav-buttons button {
	margin-left: 1em;
	margin-right: 1em;
}

.nav-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
